@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Josefin Slab", serif;
  /* background-color: #141414; */
  overflow-x: hidden;
  /* overflow-y: auto; */
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none !important;
  border-color: #05b3a4;
}

/* trapezoid */
.tag {
  border-bottom: 25px solid #05b3a4;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 125px;
  text-align: center;
  color: #1a3838;
}
*::-webkit-scrollbar {
  width: 0;
  display: none; /* Safari and Chrome */
}

/*infinite animation*/
.scroll-content1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: slider1 25s linear infinite alternate;
}
@keyframes slider1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-74%);
  }
}
.scroll-content2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: slider2 25s linear infinite alternate;
}
@keyframes slider2 {
  0% {
    transform: translateY(-74%);
  }
  100% {
    transform: translateY(0);
  }
}

/*hamburger icon*/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 40px;
  height: 4px;
  background: #1a3838;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #1a3838;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* stars */

.star-container {
  display: flex;
}

/* button glow effect */
.glow-button {
  --button-backgroud: #000000;
  --button-color: #fff;
  --button-shadow: rgba(255, 255, 255, 0.2);
  --button-shine-left: rgba(120, 0, 245, 0.5);
  --button-shine-right: rgba(200, 148, 255, 0.65);
  --button-glow-start: #b000e8;
  --button-glow-end: #009ffd;
  appearance: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  color: var(--button-color);
  background: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 20px var(--button-shadow);
}

.glow-button .gradient {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  transform: scale(1.001) scaleX(1.005) rotate(-0.35deg);
}
.glow-button span {
  z-index: 1;
  position: relative;
  display: block;
  /* padding: 10px 0; */
  /* width: 300px; */
  background-color: var(--button-backgroud);
  border-radius: inherit;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  /* transform: scale(1.05) scaleX(1.005) rotate(-0.35deg); */
}

.glow-button .gradient:before {
  background: linear-gradient(
    90deg,
    var(--button-shine-left),
    var(--button-shine-right)
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  transform: scale(1.3) translateY(-44px) rotate(0deg) translateZ(0);
  animation: rotate linear 1s infinite;
}

@keyframes rotate {
  to {
    transform: scale(1.3) translateY(-30px) rotate(360deg) translateZ(0);
  }
}

.glow-button:hover {
  --button-glow-opacity: 1;
  --button-glow-duration: 0.25s;
}

.glow-button span:before {
  content: "";
  position: absolute;
  background-color: var(--button-glow, transparent);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  left: -16px;
  top: -16px;
  transform: translate(var(--pointer-x, 0px), var(--pointer-y)) translateZ(0);
  opacity: var(--button-glow-opacity, 0);
  transition: opacity var(--button-glow-duration, 0.5);
  filter: blur(20px);
}

/* marquee  */

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 0;

  color: #fff;
}

.marquee:hover .marquee__item {
  animation-play-state: paused;
  cursor: pointer;
}

.marquee__seperator {
  margin: 0 2rem;
}

/* Add display: inline-block for icons */
.marquee__item span {
  display: inline-block;
}

.marquee__item {
  display: inline-block;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*wave animation*/
.stroke {
  color: transparent;
  -webkit-text-stroke: 2px #e5e5e5;
}

.wave-animate {
  color: #e5e5e5;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* clippath page transition */
#clipPath {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 1s;
}

/* card tilt dropdown */
.contentBx {
  position: absolute;
  top: 85%;
  left: 20px;
  right: 20px;
  background-color: #323232;
  border-radius: 20px;
  transform: translateZ(20px) scaleY(0);
  transform-origin: top;
  transition: 0.5s;
  transform-style: preserve-3d;
}
@media (min-width: 1024px) {
  .tilt:hover .contentBx {
    transform: translateZ(20px) scaleY(1);
  }
}

/* For screens smaller than LG */
@media (max-width: 1023px) {
  .tilt .contentBx {
    transform: translateZ(20px) scaleY(1);
  }
}

.tilt div {
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002);
}

/* rgb glow
.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -4px;
  border-radius: 10px;
  filter: blur(8px);
  transform: translateZ(-1px); 
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* Footer */
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* typeWritter */
#typeWritter::after {
  content: "_";
  animation: blink 0.7s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

/* button sweep */
.sweepRight {
  transform: perspective(1px) translateZ(0);
  transition: color 0.3s;
  overflow: hidden;
}
.sweepRight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: white;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
}

.sweepRight:hover {
  color: black;
}
.sweepRight:hover::before {
  transform: scaleX(1);
}

/* Menu */

#hamburgerMenu {
  width: 30px;
  cursor: pointer;
}

#hamburgerMenu::before,
#hamburgerMenu::after,
#hamburgerMenu div {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

#hamburgerMenu.open::before {
  transform: translateY(10px) rotate(135deg);
}
#hamburgerMenu.open::after {
  transform: translateY(-10px) rotate(-135deg);
}
#hamburgerMenu.open div {
  transform: scale(0);
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100px);
  }
  33% {
    transform: translateY(-100px);
  }
  58% {
    transform: translateY(-200px);
  }
  66% {
    transform: translateY(-200px);
  }
  91% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(-300px);
  }
}

#bill {
  animation: slideIn 2s forwards;
  animation-delay: 1s; /* Adjust the delay as needed */
}

/* Flip cards */
.flipOnScroll {
  transform: rotateY("180deg");
}

/* arrow side animation */
.arrow {
  animation: slide 1s ease-in-out infinite;
}

@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

/* smoke */
.smoke {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

/* wave gradient */

.waveBg {
  background: linear-gradient(90deg, #454545, #707070),
    url("https://images.unsplash.com/photo-1531969179221-3946e6b5a5e7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* drop */
.drop {
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: all 0.2s linear;
}

.drop:nth-child(1) {
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}
.drop:nth-child(2) {
  border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}
.drop:nth-child(3) {
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}

.drop:hover {
  border-radius: 50%;
}

.drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
